<div>
  <h1>Agregar nuevo Horario</h1>
  <hr />
  <div class="row">
    <div class="col-sm-3">
      <label>Día de la Semana</label>
    </div>
    <div class="col">
      <select>
        <option>Option</option>
        <option>Option</option>
      </select>
    </div>
  </div>

  <label for="Type">Hora de Inicio: </label>
  <br />
  <input id="scheduleStartTime" type="text" [(ngModel)]="schedule.StartTime" />
  <br />
  <br />
  <label for="Type">Hora de Término:  </label>
  <br />
  <input id="scheduleEndTime" type="text" [(ngModel)]="schedule.EndTime" />
  <br />
  <br />
  <app-week-day></app-week-day>
  <br />
  <br />

</div>
