<h1 class="animated fadeIn fast">Profesores</h1>

<label>Escuela:
  <select></select>
</label>

<div class="animated fadeIn">
  <a routerLink="/teacher">Agregar Profesor</a>
</div>




  <ul class="animated fadeIn">
    <li *ngFor="let person of persons">
      <a routerLink="/teacher-details">
        <span class="badge">{{person.PersonId}}</span>{{person.PersonName}}
      </a>
      <a routerLink="/teacher-edit">edit</a>
      <button class="delete" title="delete teacher"
              (click)="delete(teacher)">x</button>
    </li>
  </ul>


