<div class="animated fadeIn fast">

  <div>
    <h1>Curso</h1>
    <hr />
  </div>

  <div class="">
    <div class="row">
      <div class="col-sm-2">
        <label>Nombre del curso: </label>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="course.CourseId" class="form-group" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <label>Materia</label>
      </div>
      <div class="col">
        <select class="form-group" [(ngModel)]="signatureSelected" (change)="SchoolSelect()">
          <option *ngFor="let n of signatures" [ngValue]="n">{{n.SignaturesName}}</option>
        </select>
      </div>
    </div>

    <div id="DivIf" *ngIf="IsVisibleSchool">
      <div class="row">
        <div class="col-sm-2">
          <label>Escuela</label>
        </div>
        <div class="col">
          <select class="form-group" [(ngModel)]="schoolSelected" (change)="TeacherSelect()">
            <option *ngFor="let n of schools" [ngValue]="n">{{n.SchoolName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div id="DivIf" *ngIf="IsVisibleTeacher" (change)="FormSelect()">
      <div class="row">
        <div class="col-sm-2">
          <label>Profesor</label>
        </div>
        <div class="col">
          <select class="form-group" [(ngModel)]="teacherSelected">
            <option *ngFor="let n of teachers" [ngValue]="n">{{n.RFC}}</option>
          </select>
        </div>
      </div>
    </div>

    <div id="DivIf" *ngIf="IsVisibleForm">
      <div class="row">
        <div class="col-sm-2">
          <label>Identificador del curso</label>
        </div>
        <div class="col">
          <input type="text" readonly="readonly" class="form-group" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label>Año</label>
        </div>
        <div class="col">
          <select class="form-group" [(ngModel)]="yearSelected">
            <option *ngFor="let n of year" [ngValue]="n">{{n}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label>Creditos</label>
        </div>
        <div class="col">
          <input type="text" class="form-group" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label>Duración</label>
        </div>
        <div class="col">
          <input type="date" class="form-group" />
          <input type="date" class="form-group" />
        </div>
      </div>

      <div>
        <div class="row">
          <label>Horario</label>
        </div>
        <div class="col">
          <app-schedule></app-schedule>
        </div>
      </div>

      <div class="row">
        <button id="btnGuardar" (click)="SaveCourse()" class="form-group">Guardar</button>
      </div>

    </div>
  </div>
</div>


