<div>
  <h1>Course</h1>
  <hr />
  <label>Course Identifier</label>
  <input type="text" [(ngModel)]="course.CourseId"/>
  <ng-
  <br /><br />

  <label>Signature</label>
  <select>
    <option>Option</option>
    <option>Option</option>
  </select>
  <br /><br />

  <label>School</label>
  <select>
    <option>Option</option>
    <option>Option</option>
  </select>
  <br /><br />

  <label>Teacher</label>
  <select>
    <option>Option</option>
    <option>Option</option>
  </select>
  <br /><br />

  <label>Course Identifier</label>
  <input type="text" />
  <br /><br />

  <label>Year</label>
  <select>
    <option>Option</option>
    <option>Option</option>
  </select>
  <br /><br />

  <label>Credits</label>
  <input type="text" />
  <br /><br />

  <label>Duration</label>
  <input type="date" />
  <input type="date" />
  <br /><br />

  <label>Schedule</label>
  Llamar la vista :)
  <br /><br />

  <button id="btnGuardar" (click)="SaveCourse()">Guardar</button>

</div>
