<head>
  <title>Student Data Register</title>
</head>
<header>
  <h1>Student Data Register</h1>
</header>
<body>
  <div class="container">
    <hr />

    <div class="row">
      <div class="column-div">
        <label for="PersonId">Person ID: </label>
      </div>
      <div class="column-div">
        <select class="border-radius" type="text" id="PersonId" [(ngModel)]="student.PersonId">
          <option>Opc_1</option>
        </select>
      </div>
    </div>

      <div class="row">
        <div class="column-div">
          <label for="StudenId">Studen ID: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="StudentId" [(ngModel)]="student.StudentId" />
        </div>
      </div>

      <div class="row">
        <div class="column-div">
          <label for="Account">Account: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="Account" [(ngModel)]="student.Account" />
        </div>
      </div>

      <!--<tr>
        <td>  <label for="IsActive">Is Active?: </label></td>
        <td>  <input type="checkbox" id="IsActive" [(ngModel)]="student.IsActive" /></td>
      </tr>-->

  </div>
</body>
