<head>
  <title>Student Data Register</title>
</head>
<header>
  <h1>Student Data Register</h1>
</header>
<body>
  <section>

    <div>
      <label for="PersonId">Person ID: </label>
      <input type="text" id="PersonId" [(ngModel)]="student.PersonId" />
    </div>

    <div>
      <label for="StudenId">Studen ID: </label>
      <input type="text" id="StudentId" [(ngModel)]="student.StudentId" />
    </div>

    <div>
      <label for="Account">Account: </label>
      <input type="text" id="Account" [(ngModel)]="student.Account" />
    </div>

    <div>
      <label for="IsActive">Is Active?: </label>
      <input type="checkbox" id="IsActive" [(ngModel)]="student.IsActive" />
    </div>
  </section>
</body>
