<head>
  <title>Student Data Register</title>
</head>
<header>
  <h1>Student Data Register</h1>
</header>
<body>
  <section>
    <table>
      <tr>
        <td>  <label for="PersonId">Person ID: </label></td>
        <td>  <input class="border-radius" type="text" id="PersonId" [(ngModel)]="student.PersonId" /></td>
      </tr>

      <tr>
        <td>  <label for="StudenId">Studen ID: </label></td>
        <td>  <input class="border-radius" type="text" id="StudentId" [(ngModel)]="student.StudentId" /></td>
      </tr>

      <tr>
        <td>  <label for="Account">Account: </label></td>
        <td>  <input class="border-radius" type="text" id="Account" [(ngModel)]="student.Account" /></td>
      </tr>

      <!--<tr>
        <td>  <label for="IsActive">Is Active?: </label></td>
        <td>  <input type="checkbox" id="IsActive" [(ngModel)]="student.IsActive" /></td>
      </tr>-->
    </table>
  </section>
</body>
