<div>
  <h4>Datos de dirección</h4>

  <div class="row">
    <div class="col-sm-3">
      <label class="form-group" for="addressName">Street Name:</label>
    </div>
    <div class="col">
      <input id="addressName" type="text" [(ngModel)]="address.Address" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="form-group" for="zipCode">ZipCode:</label>
    </div>
    <div class="col">
      <input list="Zipcodes" name="ZipCode" />
      <datalist id="Zipcodes">
        <option *ngFor="let item of schoolTypes" [ngValue]="item">{{item.Type}}</option>
      </datalist>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label class="form-group" for="extNum">ExtNumber:</label>
    </div>
    <div class="col">
      <input id="extNum" type="text" [(ngModel)]="address.ExtNumber" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label for="intNum">IntNumber:</label>
    </div>
    <div class="col">
      <input id="intNum" type="text" [(ngModel)]="address.IntNumber" />
      <label for="intNum" class="alert-danger"> *Opcional</label>
    </div>
  </div>
  <!--
  <button (click)="MostrarAlerta()">Guardar</button>
      -->
</div>
