<head>
  <title>Grade Data Register</title>
</head>
<header>
  <h1>Grade Data Register</h1>
</header>
<body>
  <div class="container">
    <hr />
    <div class="row">
      <div class="column-div">
        <label for="CourseId">Course ID: </label>
      </div>
      <div class="column-div">
        <select id="CourseId" class="border-radius" [(ngModel)]="grade.CourseId">
          <option>opcion1</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column-div"><label for="StudentId">Student ID: </label></div>
      <div class="column-div">
        <select id="StudentId" class="border-radius" [(ngModel)]="grade.StudentId">
          <option>opcion1</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column-div"><label for="Grade">Grade: </label></div>
      <div class="column-div"><input type="text" id="Grade" class="border-radius" [(ngModel)]="grade.Grade" /></div>
    </div>
  </div>
</body>

