<div>
  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="student">Estudiante: </label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="course">Curso: </label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Grade">Grado: </label>
    </div>
    <div class="col">
      <input type="text" id="Grade" class="form-group" [(ngModel)]="grade.Grade" />
    </div>
  </div>
</div>
