<h1>Agregar nuevo Profesor</h1>
<hr />
<div>

  <h2>Datos Generales</h2>
  <hr />
  <div class="col">
    <div class="row">
      <label for="Teacher.Person.PersonName">Nombre: </label>
    </div>
    <div class="row">
      <input type="text" id="Teacher.Person.PersonName" [(ngModel)]="Teacher.Person.PersonName" />
    </div>

    <div class="row">
      <label for="Teacher.Person.PersonAge">Edad: </label>
    </div>
    <div class="row">
      <input type="text" id="Teacher.PersonAge" [(ngModel)]="Teacher.Person.PersonAge" />
    </div>
    <div class="row">
      <label for="Teacher.Person.CURP">CURP: </label>
    </div>
    <div class="row">
      <input type="text" id="Teacher.Person.CURP" [(ngModel)]="Teacher.Person.CURP" />
    </div>
    <div class="row">
      <label for="Teacher.RFC">RFC: </label>
    </div>
    <div class="row">
      <input type="text" id="TeacherRFC" [(ngModel)]="Teacher.RFC" maxlength="13" />
    </div>

    <h2>Datos de Contacto</h2>
    <hr />
    <div class="row">
      <label for="Teacher.Person.Phone">Teléfono: </label>
    </div>
    <div class="row">
      <input type="tel" id="Teacher.PersonPhone" [(ngModel)]="Teacher.Person.Phone" />
    </div>
    <div class="row">
      <label for="Teacher.Person.Email">e-mail: </label>
    </div>
    <div class="row">
      <input type="email" id="PersonEmail" [(ngModel)]="Teacher.Person.Email" />
    </div>
    
    <app-address [address]="Teacher.Person.address"></app-address>

  </div>
  <button id="btnGuardar" (click)="SaveTeacher()">Guardar</button>
</div>
