<h1>Agregar nuevo Profesor</h1>
<hr />
<div>

  <h2>Datos Generales</h2>
  <hr />

  <label for="Person.PersonName">Nombre: </label>
  <br />
  <input type="text" id="PersonName" [(ngModel)]="Person.PersonName" />
  <br />
  <br />
  <label for="Person.PersonAge">Edad: </label>
  <br />
  <input type="text" id="PersonAge" [(ngModel)]="Person.PersonAge" />
  <br />
  <br />
  <label for="Person.CURP">CURP: </label>
  <br />
  <input type="text" id="PersonCURP" [(ngModel)]="Person.CURP" />
  <br />
  <br />
  <label for="Teacher.RFC">RFC: </label>
  <br />
  <input type="text" id="TeacherRFC" [(ngModel)]="Teacher.RFC" maxlength="13" />
  <br />
  <br />
  <h2>Datos de Contacto</h2>
  <hr />
  <label for="Person.Phone">Teléfono: </label>
  <br />
  <input type="tel" id="PersonPhone" [(ngModel)]="Person.Phone" />
  <br />
  <br />
  <label for="Person.Email">e-mail: </label>
  <br />
  <input type="email" id="PersonEmail" [(ngModel)]="Person.Email" />
  <br />
  <br />
  <div>
    <app-address></app-address>
  </div>
  
  <button id="btnGuardar" (click)="SaveTeacher()">Guardar</button>
</div>
