
<body>
  <div class="container">

      <div class="row">
        <div class="column-div">
          <label for="PersonName">Person Name: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="PersonName" [(ngModel)]="person.PersonName" />
        </div>
      </div>

      
      <div class="row">
        <div class="column-div">
          <label for="PersonAge">Age: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="PersonAge" [ngModel]="personCh.PersonAge" />
        </div>
      </div>

      <div class="row">
        <div class="column-div">
          <label for="CURP">CURP: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="CURP" [(ngModel)]="person.CURP" />
        </div>
      </div>

      <div class="row">
        <div class="column-div">
          <label for="Phone">Phone: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="Phone" [(ngModel)]="person.Phone" />
        </div>
      </div>
      
      <div class="row">
        <div class="column-div">
          <label for="Email">Email: </label>
        </div>
        <div class="column-div">
          <input class="border-radius" type="text" id="Email" [(ngModel)]="person.Email" />
        </div>
      </div>

  </div>

  <app-address></app-address>
</body>
