<head>
  <title>Person Data Register</title>
</head>
<header>
  <h1>Person Data Register</h1>
</header>
<body>
  <div class="container">

      <div class="row">
        <div class="col-sm-2">
          <label for="PersonId">Person ID: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="PersonId" [(ngModel)]="person.PersonId" />
        </div>
      </div>
 
      <div class="row">
        <div class="col-sm-2">
          <label for="PersonName">Person Name: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="PersonName" [(ngModel)]="person.PersonName" />
        </div>
      </div>

      
      <div class="row">
        <div class="col-sm-2">
          <label for="PersonAge">Age: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="PersonAge" [(ngModel)]="person.PersonAge" />
        </div>
      </div>

      
      <div class="row">
        <div class="col-sm-2">
          <label for="AddressId">Address ID: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="AddressId" [(ngModel)]="person.AddressId" />
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-2">
          <label for="CURP">CURP: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="CURP" [(ngModel)]="person.CURP" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <label for="Phone">Phone: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="Phone" [(ngModel)]="person.Phone" />
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-2">
          <label for="Email">Email: </label>
        </div>
        <div class="col">
          <input class="form-group" type="text" id="Email" [(ngModel)]="person.Email" />
        </div>
      </div>

  </div>
</body>
