<div>
  <h1>Roles</h1>
  <div class="row">
    <div class="col-sm-3">
      <label>Nombre del Rol: </label>
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="roles.RolName" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="schoolName" class="form-group">Nombre del Usuario:</label>
    </div>
    <div class="col">
      <input class="form-group" id="schoolName" type="text" [(ngModel)]="applicationDataService.userName" required />
      <button (click)="applicationDataService.ObtenerPassword()">Obtener password</button>
    </div>
  </div>
</div>
