<div>
  <h1>Roles</h1>

  <div class="row">
    <button (click)="GetRol()">Get Rol</button>
    <button (click)="GetRoles()">Get Roles</button>
    <button (click)="PostRol()">Post Rol</button>
    <button (click)="UpdateRol()">Update Rol</button>
    <button (click)="DeleteRol()">Delete Rol</button>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-3">
      <label>Nombre del Rol: </label>
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="roles.RolName" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="schoolName" class="form-group">Nombre del Usuario:</label>
    </div>
    <div class="col">
      <input class="form-group" id="schoolName" type="text" [(ngModel)]="applicationDataService.userName" required />
      <button (click)="applicationDataService.ObtenerPassword()">Obtener password</button>
      <button (click)="ObtenerRoles()">Obtener roles</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let rol of rolesArray">
      {{rol.Name}}
    </div>
  </div>
</div>
