<h1 class="animated fadeIn fast">Detalles de Profesor</h1>
<hr />
<div class="animated fadeIn">

  <h2>Datos Generales</h2>
  <hr />
  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.Person.PersonName">Nombre: </label>
    </div>
    <div class="col">
      <label id="Teacher.Person.PersonName">{{Teacher.Person.PersonName}}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.Person.PersonAge">Edad: </label>
    </div>
    <div class="col">
      <label id="Teacher.PersonAge">{{Teacher.Person.PersonAge}}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.Person.CURP">CURP: </label>
    </div>
    <div class="col">
      <label id="Teacher.Person.CURP">{{Teacher.Person.CURP}}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.RFC">RFC: </label>
    </div>
    <div class="col">
      <label id="TeacherRFC">{{Teacher.RFC}}</label>
    </div>
  </div>

  <h2>Datos de Contacto</h2>
  <hr />
  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.Person.Phone">Teléfono: </label>
    </div>
    <div class="col">
      <label id="Teacher.PersonPhone">{{Teacher.Person.Phone}}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="form-group" for="Teacher.Person.Email">e-mail: </label>
    </div>
    <div class="col">
      <label id="PersonEmail">{{Teacher.Person.Email}}</label>
    </div>
  </div>
  <!--Aquí se incrusta el address-edit-->
  <app-address [address]="Teacher.Person.address"></app-address>

  <!--<a routerLink="/teacher-edit" routerLinkActive="active">edit</a>-->
  <button id="btnGuardar" (click)="SaveTeacher()">Guardar</button>

  <button (click)="save()">save</button>
</div>


